@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow: none;
}

body {
    background: #18184d;
    color: white;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    border-bottom: #0e0e30 solid 1rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #0e0e30;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0,0,.2);
}

.logo {
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
}


.navbar a:hover {
    color: aqua;
}

#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 15vw;
    margin-right: 7rem;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImages {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: aqua;
}

.home-content h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    margin-right: 34rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid aqua;
    border-radius: 50%;
    color: aqua;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    font-size: 2rem;
}

.social-media a:hover {
    background: aqua;
    color: #18184d;
    box-shadow:  0 0 1rem aqua;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: aqua;
    border-radius: 4rem;
    box-shadow: 0 0 1rem aqua;
    font-size: 1.6rem;
    color: #18184d;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: 1px solid aqua;
}

.btn:hover {
    box-shadow: none;
    color: aqua;
    background: transparent;
}

/* =========================   About CSS   ========================= */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #18184d;
}

.about-img img {
    width: 35vh;
    border-radius: 20rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content {
    margin-left: 5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

/* =========================   Services CSS   ========================= */

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #0e0e30;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #0e0e30;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-container .services-box:hover {
    border-color: aqua;
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: aqua;
}

.services-box h3 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3 rem;
    text-align: left;
    overflow: hidden; /* Mengatasi konten yang terlalu panjang */
    text-overflow: ellipsis; /* Tambahkan elipsis untuk konten yang terlalu panjang */
    display: -webkit-box;
    -webkit-line-clamp: 6; /* Batasi jumlah baris yang ditampilkan */
    -webkit-box-orient: vertical;
}

/* =========================   Portofolio CSS   ========================= */

.portofolio {
    background: #18184d;
}

.portofolio h2 {
    margin-bottom: 4rem;
}  

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ubah menjadi tiga kolom */
    grid-auto-rows: 1fr; /* Atur tinggi baris agar fleksibel */
    align-items: center;
    gap: 5rem;
    padding: 15rem;
    margin-top: -10rem;
}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #0e0e30;;
    overflow: hidden;
    display: flex;
}

.portofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portofolio-box img:hover {
    transform: scale(1.1);
}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), aqua);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 3rem;
}

.portofolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}

.portofolio-layer a i {
    font-size: 2rem;
    color: #0e0e30;
}

/* =========================   Contact CSS   ========================= */

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: aqua;
    background: #0e0e30;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* =========================   Footer   ========================= */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #0e0e30;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: aqua;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem aqua;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #0e0e30;
}

/* =========================   Responsive   ========================= */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portofolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #0e0e30;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        display: none;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .portofolio h2 {
        margin-bottom: 3rem;
    }

    .portofolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portofolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vh;
    }

    .about-img img {
        width: 90vh;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}